* {
  margin: 0;
}

.chatbot-container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chatbot-output-text{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-input {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
}

.user-input-text-area {
  height: 15vh;
  width: 100%;
}

.user-input-button{
  height: 10vh;
  width: 100%;
  color: #fff;
  font-size: calc(10px + 2vmin);
  background-color: #6e7074;
}
